<div class="login-panel center">
    <div class="header">
        <h1 class="title">Unimibgram</h1>
    </div>

    <div id="login-section" class="fields center">
        <input id="txtLoginUsername" type="text" placeholder="Username"/>
        <input id="txtLoginPassword" type="password" placeholder="Password"/>

        <button id="btnAccedi">Accedi</button>
    </div>

    <div id="signup-section" class="fields center">
        <input id="txtSignupUsername" type="text" placeholder="Username"/>
        <input id="txtSignupPassword" type="password" placeholder="Password"/>
        <input id="txtSignupPasswordConfirm" type="password" placeholder="Ripeti Password"/>

        <button id="btnSignup">Registrati</button>
    </div>

    <div id="switch">
        <div class="current">Accedi</div>
        <div>Registrati</div>
    </div>
</div>

<%- include("../popups.ejs"); %>