<html>
    <head>
        <title>Unimibgram</title>

        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="assets/css/main.css" rel="stylesheet" type="text/css"/>
        <link href="assets/css/popups.css" rel="stylesheet" type="text/css"/>

        <script src="assets/js/jquery-3.4.0.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="http://192.168.1.42:2000/socket.io/socket.io.js"></script>
        <script src="assets/js/utils.js"></script>
        <script src="assets/js/api.js"></script>
        <script src="assets/js/main.js"></script>
        <script src="assets/js/login.js"></script>
        <script src="assets/js/chat.js"></script>
    </head>

    <body></body>
</html>